.cover__title {
    width: 45%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        width: 50%;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: 75%;
        font-size: 32px;
        line-height: 35px;
    }
}