.footer {
    width: 92.5%;
    margin: 0 auto;
    padding: 0;
    padding-top: 92px;
    padding-bottom: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: 90.6%;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 93.75%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        box-sizing: content-box;
        flex-direction: column;
        justify-content: start;
        width: 58.1%;
        padding-top: 64px;
        padding-left: 16px;
    }
}